@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow: hidden;
  background: #000;
}

* {
  box-sizing: border-box;
}

.landing-video {
  object-fit: contain;
}

.landing-video::-webkit-media-controls,
.landing-video::-webkit-media-controls-enclosure,
.landing-video::-webkit-media-controls-panel,
.landing-video::-webkit-media-controls-start-playback-button,
.landing-video::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none !important;
}

@media (orientation: landscape) {
  .landing-video {
    object-fit: cover;
  }
}
